.fight-menu {
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--menu-background-color);
  border: var(--menu-border-thickness) solid var(--menu-border-color);
  border-radius: var(--menu-border-radius);
  height: 400px;
  width: 100%;
}

.inner-fight-menu {
  height: 100%;
  padding: 20px;
}

.inner-fight-menu-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.attacks-menu {
  border-right: var(--menu-border-thickness) solid var(--menu-border-color);
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
}

.attack-menu-item {
  display: block;
  padding: 20px;
  cursor: pointer;
  user-select: none;
}

.attack-menu-item:hover {
  background-color: var(--menu-item-hover-color);
}

.attack-menu-item:active {
  background-color: var(--menu-item-clicked-color);
}

.attack-details {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
}

.attack-detail {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.attack-detail-title {
  margin-right: 10px;
}
